@Model  List<StorageProject.Models.Estoque>

    @{
       
        ViewBag.Title = "Estoque";
    }

    <h2>Index 3</h2>
    <script src="~/Content/assets/js/MenuAtivo.js"></script>
    <script>
        $('#ItemEstoque').addClass('active');


    </script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/StyleSheet1.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/assets/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/demo.js"></script>
    <script src="~/Content/assets/js/TableScript.js"></script>



   
        <style>
            .form-control {
            }
        </style>



        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title">Cadastro Estoque</h5>
                    </div>
                    <div class="card-body">

                        <form class="pure-form pure-form-aligned">
                            <fieldset>
                                <div class="pure-control-group">
                                    @Html.Label("Nome Ingrediente")
                                    <input class="col-8" id="NomeIngrediente" type="text" placeholder="Nome do Ingrediente">
                                </div>

                                <div class="pure-control-group">
                                    @Html.Label("Preço")
                                    <input class="col-8" type="number" step="any" id="PrecoIngrediente" placeholder="Preço do Ingrediente">
                                </div>

                                <div class="pure-control-group">
                                    @Html.Label("Quantidade")
                                    <input class="col-8" type="number" step="any" id="QuantidadeIngrediente" placeholder="Quantidade do Ingrediente">
                                </div>

                                <div class="pure-control-group">
                                    @Html.Label("Data Validade")
                                    <input class="form-control col-8" type="date" id="DataValidade">
                                </div>

                                <div class="pure-control-group">
                                    <label for="foo">Descrição Ingrediente</label>
                                    <textarea class="col-8" placeholder="Descrição"></textarea>
                                </div>
                                <div class="pure-controls">
                                    <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="card-body">
                        <div class="description">
                            <h2>Fresh Bootstrap Table</h2>
                        </div>



                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nome</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Data Validade</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (StorageProject.Models.Estoque item in Model)

                                {
                                <tr>

                                    <td>@Html.DisplayFor(modelitem => item.Ingrediente.Nome)
                                    </td>
                                    <td>@item.Ingrediente.Preco</td>
                                    <td>@item.QuantEstoque</td>
                                    <td>@item.Ingrediente.Validade</td>
                                    <td>@item.Ingrediente.Descricao</td>
                                </tr>
                                    
                                }
                                </tbody>
                        </table>



                       
                    </div>
                    </div>
                </div>
            </div>
        







        <script type="text/javascript">
            var $table = $('#fresh-table');

            $().ready(function () {
                $table.bootstrapTable({
                    toolbar: ".toolbar",

                    showRefresh: true,
                    search: true,
                    showToggle: true,
                    showColumns: true,
                    pagination: true,
                    striped: true,
                    pageSize: 6,
                    pageList: [6, 10, 25, 50, 100],

                    formatShowingRows: function (pageFrom, pageTo, totalRows) {
                        //do nothing here, we don't want to show the text "showing x of y from..."
                    },
                    formatRecordsPerPage: function (pageNumber) {
                        return pageNumber;
                    },
                    icons: {
                        refresh: 'fa fa-refresh',
                        toggle: 'fa fa-th-list',
                        columns: 'fa fa-columns',
                        detailOpen: 'fa fa-plus-circle',
                        detailClose: 'fa fa-minus-circle'
                    }
                });



                $(window).resize(function () {
                    $table.bootstrapTable('resetView');
                });





            });

                                    //




        </script>









