@using StorageProject.Models
@model Estoque
@{
    List<Ingrediente> ingrediente = ViewBag.Ingrediente;
    ViewBag.Title = "Estoque";
}

<h2>Index 3</h2>
<script src="~/Content/assets/js/MenuAtivo.js"></script>
<script>
    $('#ItemEstoque').addClass('active');


</script>






<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/4e0e542aed.js"></script>
<div class="row">

    <div class="col-md-4 col-md-offset-2">
        <div class="card card-user">
            <div class="card-header">
                <h2 class="card-title description">Cadastro Estoque</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Estoque", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
                {
                    <fieldset>
                        <div class="pure-control-group">
                            @Html.Label("Nome")
                            @Html.TextBoxFor(model => model.Ingrediente.Nome, new { @class = "col-8", @placeholder = "Nome Ingrediente" })

                        </div>

                        <div class="pure-control-group">
                            @Html.Label("Preço")
                            @Html.TextBoxFor(model => model.Ingrediente.Preco, new { @type = "number", @step = "any", @class = "col-8", @placeholder = "Preço Ingrediente" })

                        </div>

                        <div class="pure-control-group">
                            @Html.Label("Quantidade")
                            @Html.TextBoxFor(model => model.Ingrediente.QuantEstoque, new { @type = "number", @step = "any", @class = "col-8", @placeholder = "Quantidade Ingrediente" })

                        </div>

                        <div class="pure-control-group">
                            @Html.Label("Validade")
                            @Html.TextBoxFor(model => model.Ingrediente.Validade, new { @type = "date", @class = "col-8" })


                        </div>

                        <div class="pure-control-group">
                            @Html.Label("Descrição")
                            @Html.TextAreaFor(model => model.Ingrediente.Descricao, new { @class = "col-8", @placeholder = "Descriçao " })
                        </div>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-body">
                <div class="description">
                    <h2>Fresh Bootstrap Table</h2>
                </div>

                <input id="myInput" type="text" placeholder="Search..">

                <div style="overflow: auto; height: 560px">
                    <table id="myTable" class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th>Data Validade</th>
                                <th>Descrição</th>
                                <th colspan="2">Ações</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (Ingrediente item in ingrediente)
                            {
                                <tr>
                                    @*/Pedir para o professor Explicar/*@
                                    <td>@item.Nome</td>
                                    <td>@item.Preco</td>
                                    <td>@item.QuantEstoque</td>
                                    <td>@item.Validade.ToShortDateString()</td>
                                    <td>@item.Descricao</td>
                                    @*/Esta dando erro/*@
                                    <td>@Html.ActionLink(" ", "Remover", "Estoque", new { id = item.IngredienteID }, new { @class = "fas fa-times" })</td>
                                    @*/Esta dando erro/*@
                                    <td>@Html.ActionLink(" ", "Alterar", "Estoque", new { id = item.IngredienteID }, new { @class = "fas fa-edit" })</td>

                                </tr>

                            }
                        </tbody>
                    </table>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

